// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import ".tmp/sass/extensions";

// Patterns that aren't in Frontend
@import "patterns/contents-list";
@import "patterns/mainstream-guide";
@import "patterns/pagination";
@import "patterns/related-items";
@import "patterns/task-list";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
//Styles for user bar

ul#navigation {
  font-size: 0.9em;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: right;
  display: inline-block;
  float: right;
  li {
    display: inline;
    font-family: 'nta', Arial;
    font-size: 16px;
    overflow-wrap: break-word;
    a {margin-left: 0.9em;}
  }
}
.no-wrap {
  white-space: nowrap;
}


.no-border-backlink {
  border: none;
}

//Hacked styles for user bar (do not copy for live)

.searchfield {
  border: 10px solid #dee0e2;
  margin-bottom: 10px;
  .govuk-form-group {margin-bottom: 0;}
}


  .govuk-summary-card {
    border: 1px solid #b1b4b6;
  }

  .govuk-summary-card_heading {
    background: #f3f2f1;
  }

// Adding a download icon


.download-icon {
  padding: 0.5em 0 0 2.1em;
  background-image: url("/public/images/icon-file-download.svg");
  background-repeat: no-repeat;
  background-size: contain;
}


// Styling download type and font-size


.file-format-size {
  display: block;
  padding: 0.2em 0 0 2.2em;


}


// Styling call to action box on guidance to mirror GOV Whitehall styles


.call-to-action {
  margin: 2em 0;
  background-color: #f3f2f1;
  padding: 2em 2em 0.6em 2em;
}


// Styling email notification box to mirror GOV Whitehall styles


.email-notification {
  border: 1px solid #b1b4b6;
  padding: 0.8em 1em 0.8em 1.8em;
  display: inline-block;
  background-image: url("/public/images/bell-icon.ico");
  background-repeat: no-repeat;
  background-size: 8%;
  background-position: 3% 50%;
}


.print-notification {
  background-image: url("/public/images/print-icon.png");
  background-size: 12%;
  background-position: 5% 50%;


}

//Styles for interrupt card

.interrupt-card {
  background-color:#175B96; // this blue ensure sufficient colour contrast
  color: #fff !important;
  padding: 2em 2em 0em;

  h1, h2, h3, p, ul, li, a:link {
    color:#fff;
  }
  a:hover, a:visited  {
    color:   #f3f2f1		;
  }
  a:focus {
    text-decoration:none;
    color:  $govuk-focus-text-colour;
    background-color:  $govuk-focus-colour	;
  }

  .govuk-button {
    background-color: #fff;
    color: #000 !important;
    &:visited {
      background-color: #f3f2f1	;
      color:  $govuk-focus-text-colour;
    }
    &:hover {
      background-color: 	#b1b4b6 	;
      color:  $govuk-focus-text-colour;
    }

  }
  }

  //notification badge 

  .notification-badge {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #d4351c;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    font-family: GDS Transport,arial,sans-serif;
    font-size: 12px;
    font-size: .75rem;
    font-weight: 400;
    font-weight: 600;
    line-height: 1.25;
    min-width: 10px;
    padding: 1px 4px 0;
    text-align: center;
    white-space: nowrap;
}




