// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import ".tmp/sass/extensions";

// Patterns that aren't in Frontend
@import "patterns/contents-list";
@import "patterns/mainstream-guide";
@import "patterns/pagination";
@import "patterns/related-items";
@import "patterns/task-list";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
//Styles for user bar

ul#navigation {
  font-size: 0.9em;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: right;
  display: inline-block;
  float: right;

  li {
    display: inline;
    font-family: 'nta', Arial;
    font-size: 16px;
    overflow-wrap: break-word;
    a {margin-left: 0.9em;}
  }
}

//Hacked styles for user bar (do not copy for live)

.searchfield {
  border: 10px solid #dee0e2;
}
.company-search {
margin-bottom: 0;
}
