1
{% extends "layout.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  Your basket -  Find and update company details - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "includes/user-bar-basket-items.html" %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}
<form action="/payment-review" method="post">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">Your basket</h1>
        <p class="govuk-body">You can add up to 10 items to your basket.</p>
        {{ govukButton({
             text: "Add another item",
              classes: "govuk-button--secondary govuk-!-margin-bottom-1",
              href:"../search2"
        }) }}

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            

            <div class="govuk-summary-card govuk-!-margin-bottom-7"> 
            <div class="govuk-summary-card_heading govuk-!-padding-top-4 govuk-!-padding-bottom-4 govuk-!-padding-right-3 govuk-!-padding-left-2">
               <h2 class="govuk-heading-s govuk-!-font-weight-bold govuk-!-margin-0">Company certificates</h2>
             </div>

             <div class="govuk-!-padding-top-2 govuk-!-padding-bottom-0 govuk-!-padding-right-3 govuk-!-padding-left-2">

               {{ govukTable({
                    caption: "Company certificates",
                   captionClasses: "govuk-visually-hidden",
                    classes: "govuk-!-margin-bottom-4",
                     head: [
                     {
                       html: "Company name",
                       classes:'no-wrap'
                     },
                     {
                       html: "Company number",
                       classes:'no-wrap'
                     },
                     {
                       html: "Certificate contains"
                     },
                     {
                       html: "Dispatch method",
                       classes:'no-wrap'
                     },
                     {
                       html: "Fee"
                     },
                     {
                       html: '<span class="govuk-visually-hidden">Remove</span>'
                     }

                     ],
                     rows: [
                       [
                       {
                           text: "THE GIRLS' DAY SCHOOL TRUST"
                         },
                         {
                           text: "00006400"
                         },
                       {
                           text: "Company name and number, incorporation date, current registered office address, current directors, current secretaries and nature of business."
                         },
                         {
                           text: "Digital"
                         },
                         {
                            html: "£9"
                         },
                         {
                            html:'<a href="javascript:void(0)">Remove<span class="govuk-visually-hidden">Digital company certificate for The Girls Day School Trust 00006400</span></a>'
                         }
                       ]
                     ]
                 }) }}

                 
               </div>

             
                </div>
      </div>
    </div>



    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

    <!-- This should only be shown if there are digital items in the basket - dynamic -->

    <p class="govuk-body">Digital items will be available to download from ‘Your orders’ within 1 hour. Items will be available to download for XX days. </p>
    <p class="govuk-body"> We’ll email <strong>user@companieshouse.gov.uk</strong> to let you know when your order is ready to download.</p>

    <h4 class="govuk-heading-m">Total £9</h4>

      <div class="govuk-button-group">

        {{ govukButton({
            text: "Continue to payment",
            href:"../payment"
        }) }}

        {{ govukButton({
            text: "Add another item",
            classes: "govuk-button--secondary",
            href:"../search2"
        }) }}


      </div>





    </div>
    </div>
</form>



{% endblock %}
