
{% extends "layout.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  Your basket -  Find and update company details - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "includes/user-bar-basket-three-items.html" %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}
<form action="/payment-review" method="post">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">Your basket</h1>

        <p class="govuk-body"> <a href="#" class="govuk-link govuk-link--no-visited-state">Add a certified document or certificate for another company</a></p>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <h2 class="govuk-heading-m">Certified documents</h2>

             <div class="govuk-summary-card govuk-!-margin-bottom-4">
                <div class="govuk-summary-card_heading govuk-!-padding-top-4 govuk-!-padding-bottom-4 govuk-!-padding-right-3 govuk-!-padding-left-2">
                  <h3 class="govuk-heading-s govuk-!-font-weight-bold govuk-!-margin-0">THE GIRLS DAY SCHOOL TRUST (00006400)</h3>
                </div>

                <div class="govuk-!-padding-top-4 govuk-!-padding-bottom-4 govuk-!-padding-right-3 govuk-!-padding-left-2">


                  {{ govukTable({
                        caption: "Certified documents for THE GIRLS DAY SCHOOL TRUST (00006400)",
                        captionClasses: "govuk-visually-hidden",
                        classes: "govuk-!-margin-bottom-4",
                        head: [
                        {
                          html: "Date filed",
                          class: "no-wrap"
                        },
                        {
                          html: "Document type"
                        },
                        {
                          html: "Description",
                          classes: 'govuk-!-width-one-third'
                        },
                        {
                          html: "Dispatch method"
                        },
                        {
                          html: "Fee"
                        },
                        {
                          html: '<span class="govuk-visually-hidden">Remove</span>'
                        }

                        ],
                        rows: [
                          [
                          {
                            text: "4 July 2018"
                          },
                            {
                              text: "CS01"
                            },
                            {
                            html: "<span class='govuk-body govuk-!-font-weight-bold'> Confirmation statement </span> made on 27 June 2018 with no updates"
                            },
                            {
                              text:"Digital"
                            },
                            {
                              text:"£XX"
                            },

                            {
                              html:'<a href="javascript:void(0)">Remove<span class="govuk-visually-hidden">Confirmation statementmade on 27 June 2018 with no updates</span></a>'
                            }
                          ],
                          [
                          {
                            text: "29 June 2017"
                          },
                            {
                              text: "AA"
                            },
                            {
                            html: "<span class='govuk-body govuk-!-font-weight-bold'> Group of companies' accounts </span> made up to 28 January 2017"
                            },
                            {
                              text:"Digital"
                            },
                            {
                              text:"£XX"
                            },

                            {
                              html:'<a href="javascript:void(0)">Remove<span class="govuk-visually-hidden">Group of companies accounts made up to 28 January 2017</span></a>'
                            }
                          ],
                          [
                          {
                            text: "4 November 2016"
                          },
                            {
                              text: "SH19"
                            },
                            {
                            html: "<span class='govuk-body govuk-!-font-weight-bold'> Statement of capital </span> on 4 November 2016 GBP 6,750,000.00"
                            },
                            {
                              text:"Paper - Standard "
                            },
                            {
                              text:"£15"
                            },

                            {
                              html:'<a href="../remove-document">Remove<span class="govuk-visually-hidden">Statement of capital on on 4 November 2016 GBP 6,750,000.00</span></a>'
                            }
                          ]
                        ]
                    }) }}

                    <div class="govuk-button-group govuk-!-margin-bottom-0">

                      {{ govukButton({
                        text: "Add a certified document",
                        classes: "govuk-button--secondary govuk-!-margin-bottom-1",
                        href:"../filter-document-list"
                      }) }}
                      {{ govukButton({
                        text: "Add a certified certificate",
                        classes: "govuk-button--secondary govuk-!-margin-bottom-1",
                        href:"../order-certified-certificate"
                      }) }}

                    </div>
                  </div>
                </div>
      </div>
    </div>

    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


<h2 class="govuk-heading-m">Delivery details</h2>

                  {{ govukSummaryList({
                    classes: 'govuk-!-margin-bottom-9',
                    rows: [
                      {
                        key: {
                          text: "Address"
                        },
                        value: {
                          text: "64 Zoo Lane, London, W1 2OO"
                        },
                        actions: {
                          items: [
                          {
                            href: "#",
                            text: "Change",
                            visuallyHiddenText: "address"
                          }
                          ]
                        }
                      }

                  ]
                }) }}
              </div>
            </div>
    




    <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

    <!-- This should only be shown if there are digital items in the basket - dynamic -->

    <p class="govuk-body">Digital items will be available to download from ‘Your orders’. We’ll email <strong>user@companieshouse.gov.uk</strong> to let you know when your order is ready to download.</p>

    <p class="govuk-body">For standard delivery we aim to send your items within 10 working days. We send UK orders by Royal Mail 2nd Class post and international orders by Royal Mail international post.</p>


    <h4 class="govuk-heading-m">Total: £XX</h4>

      <div class="govuk-button-group">

        {{ govukButton({
            text: "Continue to payment",
            href:"../payment"
        }) }}


      </div>




    </div>
    </div>
</form>



{% endblock %}
