
{% extends "layout.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  Your basket -  Find and update company details - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "includes/user-bar-basket-two-items.html" %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}
<form action="/payment-review" method="post">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">Your basket</h1>

        <p class="govuk-body"> You can add up to 10 items to your basket.</p>
        {{ govukButton({
             text: "Add another item",
              classes: "govuk-button--secondary govuk-!-margin-bottom-1",
              href:"../search2"
        }) }}

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


    





           

             <div class="govuk-summary-card govuk-!-margin-bottom-4">
                <div class="govuk-summary-card_heading govuk-!-padding-top-4 govuk-!-padding-bottom-4 govuk-!-padding-right-3 govuk-!-padding-left-2">
                  <h2 class="govuk-heading-s govuk-!-font-weight-bold govuk-!-margin-0">Missing image requests</h2>
                </div>
                
                <div class="govuk-!-padding-top-4 govuk-!-padding-bottom-4 govuk-!-padding-right-3 govuk-!-padding-left-2">


                  {{ govukTable({
                       caption: "Missing image requests",
                      captionClasses: "govuk-visually-hidden",
                       classes: "govuk-!-margin-bottom-0",
                        head: [
                        {
                          html: "Company name",
                          classes: "no-wrap"
                        },
                        {
                          html: "Company number",
                          classes: "no-wrap"
                        },
                        {
                          html: "Date filed",
                          classes: "no-wrap"
                        },
                        {
                          html: "Document type",
                          classes: "no-wrap"
                        },
                        {
                          html: "Description",
                          classes: 'govuk-!-width-one-third'
                        },
                        {
                          html: "Fee"
                        },
                        {
                          html: '<span class="govuk-visually-hidden">Remove</span>'
                        }

                        ],
                        rows: [
                          [
                          {
                              text: "THE GIRLS' DAY SCHOOL TRUST"
                            },
                            {
                              text: "00006400"
                            },
                          {
                            text: "07 Jul 2010",
                            classes: "no-wrap"
                          },
                            {
                              text: "AA"
                            },
                            {
                            html: "<span class='govuk-body govuk-!-font-weight-bold'> Accounts made for 'small' co.</span> Made up to 25/06/09."
                            },
                            
                            {
                              text:"£3"
                            },

                            {
                              html:'<a href="javascript:void(0)">Remove<span class="govuk-visually-hidden">digital certified document of Confirmation statement made on 27 June 2018 with no updates for The Girls Day School Trust 00006400</span></a>'
                            }
                          ]
                        ]


                    }) }}
                    <br>
<div class="govuk-button-group govuk-!-margin-bottom-0">
                      <p class="govuk-body">It can take us several hours to check the availability of a document. We will aim to add it to the company's filing history the same day if you submit your request before 3pm, Monday to Friday (excluding bank holidays).</p>
                      <p class="govuk-body">If you submit your request after 3pm or at the weekend, we will add the document the next working day.
                    </div>
                    
                  </div>
                </div>

             <div class="govuk-summary-card govuk-!-margin-bottom-4">
                <div class="govuk-summary-card_heading govuk-!-padding-top-4 govuk-!-padding-bottom-4 govuk-!-padding-right-3 govuk-!-padding-left-2">
                  <h2 class="govuk-heading-s govuk-!-font-weight-bold govuk-!-margin-0">Certified documents</h2>
                </div>
                
                <div class="govuk-!-padding-top-4 govuk-!-padding-bottom-4 govuk-!-padding-right-3 govuk-!-padding-left-2">


                  {{ govukTable({
                       caption: "Certified documents",
                      captionClasses: "govuk-visually-hidden",
                       classes: "govuk-!-margin-bottom-0",
                        head: [
                        {
                          html: "Company name"
                        },
                        {
                          html: "Company number"
                        },
                        {
                          html: "Date filed",
                          classes: "no-wrap"
                        },
                        {
                          html: "Document type"
                         
                        },
                        {
                          html: "Description",
                          classes: 'govuk-!-width-one-third'
                        },
                        {
                          html: "Dispatch method",
                          classes: "no-wrap"
                        },
                        {
                          html: "Fee"
                        },
                        {
                          html: '<span class="govuk-visually-hidden">Remove</span>'
                        }

                        ],
                        rows: [
                          [
                          {
                              text: "THE GIRLS' DAY SCHOOL TRUST"
                            },
                            {
                              text: "00006400"
                            },
                          {
                            text: "04 Jul 2018",
                            classes: "no-wrap"
                          },
                            {
                              text: "CS01"
                            },
                            {
                            html: "<span class='govuk-body govuk-!-font-weight-bold'> Confirmation statement </span> made on 27 June 2018 with no updates"
                            },
                            {
                              text:"Digital"
                            },
                          
                            {
                              text:"£9"
                            },

                            {
                              html:'<a href="javascript:void(0)">Remove<span class="govuk-visually-hidden">digital certified document of Confirmation statement made on 27 June 2018 with no updates for The Girls Day School Trust 00006400</span></a>'
                            }
                          ],
                          [
                          {
                              text: "THE WOOL COMPANY"
                            },
                            {
                              text: "10987888"
                            },
                          {
                            text: "29 Jun 2017",
                            classes: "no-wrap"
                          },
                            {
                              text: "AA"
                            },
                            {
                            html: "<span class='govuk-body govuk-!-font-weight-bold'> Group of companies' accounts </span> made up to 28 January 2017"
                            },
                            {
                              text:"Paper - standard"
                            },
                            
                            {
                              text:"£15"
                            },

                            {
                              html:'<a href="javascript:void(0)">Remove<span class="govuk-visually-hidden">Paper certified document with standard delivery of Group of companies accounts made up to 28 January 2017 for The Girls Day School Trust 00006400 </span></a>'
                            }
                          ]
                        ]


                    }) }}

                    
                  </div>
                </div>



                <div class="govuk-summary-card govuk-!-margin-bottom-9">
                         <div class="govuk-summary-card_heading govuk-!-padding-top-4 govuk-!-padding-bottom-4 govuk-!-padding-right-3 govuk-!-padding-left-2">
                           <h2 class="govuk-heading-s govuk-!-font-weight-bold govuk-!-margin-0">Company certificates</h2>
                         </div>

                         

                         <div class="govuk-!-padding-top-4 govuk-!-padding-bottom-4 govuk-!-padding-right-3 govuk-!-padding-left-2">


                           {{ govukTable({
                                caption: "Company certificates",
                               captionClasses: "govuk-visually-hidden",
                                classes: "govuk-!-margin-bottom-0",
                                 head: [
                                 {
                                   html: "Company name",
                                   classes: "no-wrap"
                                 },
                                 {
                                   html: "Company number",
                                   classes: "no-wrap"
                                 },
                                 {
                                   html: "Company number"
                                 },
                                 {
                                   html: "Certificate contains"
                                 },
                                 {
                                   html: "Dispatch method"
                                 },
                                 {
                                   html: "Fee"
                                 },
                                 {
                                   html: '<span class="govuk-visually-hidden">Remove</span>'
                                 }

                                 ],
                                 rows: [
                                   [
                                    {
                                       text: "THE GIRLS' DAY SCHOOL TRUST"
                                     },
                                     {
                                       text: "00006400"
                                     },
                                    {
                                      text: "Company name and number, incorporation date, current registered office address, and nature of business."
                                       },
                                     {
                                       text: "Digital"
                                     },
                                     
                                     {
                                     text: "£9"
                                     },
                                     {
                                       html:'<a href="javascript:void(0)">Remove<span class="govuk-visually-hidden">Digitial company certificate for The Girls Day School Trust 00006400</span></a>'
                                     }
                                   ],
                                   [
                                   
                                   {
                                       text: "THE WOOL COMPANY"
                                     },
                                     {
                                       text: "10987888"
                                     },
                                   {
                                       text: "Registered office address"
                                     },
                                     {
                                       text: "Paper - express with an email copy"
                                     },
                                    
                                     {
                                       text: "£50"
                                     },
                                     {
                                       html:'<a href="javascript:void(0)">Remove<span class="govuk-visually-hidden">Paper company certificate with express delivery and email copy containing Registered Office Address for The Girls Day School Trust 00006400</span></a>'
                                     }
                                   ]
                                 ]
                             }) }}

                             
                           </div>
                         </div>







      </div>
    </div>


    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

        <h2 class="govuk-heading-m">Delivery details</h2>

             {{ govukSummaryList({
               classes: 'govuk-!-margin-bottom-7',
               rows: [
                 {
                   key: {
                     text: "Address"
                   },
                   value: {
                     html: "64 Zoo Lane, London, W1 2OO"
                   },
                   actions: {
                     items: [
                     {
                       href: "#",
                       text: "Change",
                       visuallyHiddenText: "address"
                     }
                     ]
                   }
                 }

             ]
           }) }}
      </div>
    </div>





















    <!-- This should only be shown if there are digital items in the basket - dynamic -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <!-- why is the styling above not working? -->
    <p class="govuk-body">Digital items will be available to download from ‘Your orders’ within 1 hour. Items will be available to download for XX days. </p>
    <p class="govuk-body">  We’ll email <strong>user@companieshouse.gov.uk</strong> to let you know when your order is ready to download.</p>

    <p class="govuk-body">For standard delivery we aim to send your items within 10 working days. We send UK orders by Royal Mail 2nd Class post and international orders by Royal Mail International post.</p>


    <h3 class="govuk-heading-m">Total £XX</h3>

       <div class="govuk-button-group">

        {{ govukButton({
            text: "Continue to payment",
            href:"../payment"
        }) }}

        {{ govukButton({
            text: "Add another item",
            classes: "govuk-button--secondary",
            href:"/search2"
        }) }}


      </div>




    </div>
    </div>

</form>



{% endblock %}
