
{% extends "layout.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  Your orders -  Find and update company details - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "includes/user-bar.html" %}
{% include "includes/back-link.html" %}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <form action="/your-orders" method="post">

          <h1 class="govuk-heading-xl">Your orders</h1>

          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


          {{ govukTable({
            caption: "Your orders",
            captionClasses: "govuk-table__caption--l govuk-visually-hidden",
            firstCellIsHeader: true,
            head: [
              {
                text: "Order reference"
              },
              {
                text: "Date ordered"
              },
              {
                html: "Company"
              },
              {
                text: "Fee"
              },
              {
                text: ""
              }

            ],
            rows: [
              [
                {
                  html: '<p class="govuk-body">ORD-168827-927371</p>'
                },
                {
                  text: "2 November 2022"
                },
                {
                  html: "THE GIRL'S DAY SCHOOL TRUST (00006400) <br> THE WOOL COMPANY (10987888)"
                },
                {
                  text: "£18"
                },
                {
                  html: '<p class="govuk-body"><a href="/orders/your-orders-updated-v2" class="govuk-link">View Details</a></p>'
                }
              ] ]
          }) }}



      </form>

    </div>

  </div>


{% endblock %}
