{% extends "layout.html" %}

{% block pageTitle %}
  Before you start – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/back-link.html" %}
  {% include "includes/user-bar.html" %}

{% endblock %}

{% block content %}

<!-- Commented this error message for now as it's the same as the page content. 
{{ govukErrorSummary({
  titleText: "There is a problem",
  errorList: [
    {
      text: "Your basket is full. You cannot add more than 10 items to your order",
      href: "#basket-full"
    },
    {
      text: "",
      href: ""
    }
  ]
}) }} -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/interrupt-card" method="post">
      <div class="interrupt-card">
        <h1 class="govuk-heading-l">Your basket is full</h3> 

        <p class="govuk-body">You cannot add more than 10 items to your order. You cannot add any more to this order.</p>
        <p class="govuk-body"><a href="/basket-limit/basket-warning">Go to your basket</a> to review your order.</p>

         



  </fieldset>
</div>


<!-- (Have hidden button for now and added hyperlink, but can switch this if needed)

       {{ govukButton({
          text: "View basket"
        }) }}
-->
      </div>

      </form>

    </div>
  </div>

{% endblock %}
