{% extends "layout.html" %}

{% set mainClasses = "govuk-main-wrapper--l" %}
{% block header %}
    {{ govukHeader({ serviceName: "" }) }}
{% endblock %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block pageTitle %}
   Confirmation email -  Find and update company details - GOV.UK
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Order confirmation",
        html: "Your reference number<br><strong>ORD-145116-625550</strong>"
      }) }}



      <h1 class="govuk-heading-l">Your order summary</h1>

        {{ govukTable({
          caption: "",
              head: [
                {
                  html: "Item number",
                  classes:"no-wrap"
                },
                {
                  html: "Company"
                },
                {
                  html: "Date filed"
                },
                {
                  html: "Description",
                  classes: 'govuk-!-width-one-third'
                },
                {
                  html: "Dispatch method"
                },
                {
                  html: "Fee"
                }

              ],
              rows: [
                [
                  {
                    html: "MID-658716-625544"
                  },
                  {
                    html: "THE GIRL\'S DAY SCHOOL TRUST (00006400)"
                  },
                  {
                     text: "04 Jul 2018"
                  },
                  {
                    html:"<span class='govuk-body govuk-!-font-weight-bold'> Confirmation statement </span> made on 27 June 2018 with no updates"
                  },
                  {
                    text: "Digital"
                  },
                  {
                    text:"£XX"
                  }
                ],
                [
                  {
                    html: "MID-658716-625546"
                  },
                  {
                    html: "THE GIRL\'S DAY SCHOOL TRUST (00006400)"
                  },
                  {
                     text: "29 Jun 2017"
                  },
                  {
                    html:"<span class='govuk-body govuk-!-font-weight-bold'> Group of companies' accounts </span> made up to 28 January 2017"
                  },
                  {
                    text: "Digital"
                  },
                  {
                    text:"£XX"
                  }
                ]
              ]
          }) }}


      <p class="govuk-body">
          We’ll email to let you know you when all digital items on your order are ready to download. Some items may be ready sooner than others. <a class="govuk-link govuk-link--no-visited-state" href="/orders/your-orders-pending">Sign in to Companies House</a> to check the status of your order and download any digital items.
      </p>

     <!-- <p class="govuk-body">We aim to send standard orders within 10 working days. Standard UK orders are sent by <a class="govuk-link govuk-link--no-visited-state" href="https://www.royalmail.com/sending/uk/2nd-class" target="_blank">Royal Mail 2nd Class post (opens in new tab)</a>. Standard international orders are sent by <a class="govuk-link govuk-link--no-visited-state" href="https://www.royalmail.com/sending/international/international-standard" target="_blank">Royal Mail International post (opens in new tab)</a>.</p>


      <h3 class="govuk-heading-m">Delivery details</h3>
      <dl class="govuk-summary-list">


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Delivery address
            </dt>
            <dd class="govuk-summary-list__value">
              Sarah Philips<br>72 Guild Street<br>London<br>SE23 6FH
            </dd>

          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">sarah.phillips@example.com</p>
            </dd>

          </div>
        </dl> -->

        <h3 class="govuk-heading-m">Payment details</h3>
        <dl class="govuk-summary-list">


            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Amount paid
              </dt>
              <dd class="govuk-summary-list__value">
                £XX
              </dd>

            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Payment reference
              </dt>
              <dd class="govuk-summary-list__value">
                <p class="govuk-body">RS5VSN6DRE</p>
              </dd>

            </div>
          </dl>
          <p class="govuk-body"><a href="#">Sign in to view a more detailed summary of your order.</a></p>
  <h3 class="govuk-heading-m">How to contact us</h3>
  <p class="govuk-body">Email <a href="enquiries@companieshouse.gov.uk">enquiries@companieshouse.gov.uk</a> if you have questions about your order.</p>

  <p class="govuk-body">Include your order reference number when you contact us.
</p>
    </div>
  </div>

{% endblock %}
