{% extends "layout.html" %}

{% set mainClasses = "govuk-main-wrapper--l" %}
{% block header %}
    {{ govukHeader({ serviceName: "" }) }}
{% endblock %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Your digital order is ready",
        html: "Your reference number<br><strong>ORD-145116-625550</strong>"
      }) }}

<p class="govuk-!-padding-top-5"><a class="govuk-link--no-visited-state" href="/orders/your-orders-updated">Sign in to your Companies House account</a> to download your digital items.</p>
<p class="govuk-body">Digital items will be available to download for XX days.</p>

      <h1 class="govuk-heading-m">Your order summary</h1>

        {{ govukTable({
          caption: "",
              head: [
                {
                  html: "Item number",
                  class:no-wrap;
                },
                {
                  html: "Date filed"
                },
                {
                  html: "Type"
                },
                {
                  html: "Description",
                  classes: 'govuk-!-width-one-third'
                },
                {
                  html: "Company number"
                },
                {
                  html: "Fee"
                }

              ],
              rows: [
                [
                  {
                    html: "MID-658716-625544"
                  },
                  {
                     text: "04 Jul 2018"
                  },
                  {
                  html: "CS01"
                  },
                  {
                    html:"<span class='govuk-body govuk-!-font-weight-bold'> Confirmation statement </span> made on 27 June 2018 with no updates"
                  },
                  {
                    text: "00006400"
                  },
                  {
                    text:"£XX"
                  }
                ],
                [
                  {
                    html: "MID-658716-625546"
                  },
                  {
                     text: "29 Jun 2017"
                  },
                  {
                  html: "AA"
                  },
                  {
                    html:"<span class='govuk-body govuk-!-font-weight-bold'> Group of companies' accounts </span> made up to 28 January 2017"
                  },
                  {
                    text: "00006400"
                  },
                  {
                    text:"£XX"
                  }
                ]
              ]
          }) }}
    <p class="govuk-body">Email <a href="mailto:enquiries@companieshouse.gov.uk">enquiries@companieshouse.gov.uk</a> if you have questions about your order. Include your order reference number when you contact us.</p>



    </div>
  </div>

{% endblock %}
