{% extends "layout.html" %}

{% set mainClasses = "govuk-main-wrapper--l" %}
{% block header %}
    {{ govukHeader({ serviceName: "" }) }}
{% endblock %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block pageTitle %}
   Order ready -  Find and update company details - GOV.UK
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Your digital order is ready",
        html: "Your reference number<br><strong>ORD-145116-625550</strong>"
      }) }}

      <h2 class="govuk-heading-m">Download your documents</h2>

      <p class="govuk-body"><a class="govuk-link--no-visited-state" href="/orders/your-orders-updated">Sign in to your Companies House account</a> to download your digital items.</p>
    

      <h2 class="govuk-heading-m">Your order summary</h2>

        {{ govukTable({
          caption: "",
              head: [
                {
                  html: "Company"
                },
                {
                  html: "Date filed"
                },
                {
                  html: "Description",
                  classes: 'govuk-!-width-one-third'
                },

                {
                  html: "Fee"
                }

              ],
              rows: [
                [
                  {
                    text: "THE GIRL\'S DAY SCHOOL TRUST (00006400)"
                  },
                  {
                     text: "04 Jul 2018"
                  },
                  {
                    html:"<span class='govuk-body govuk-!-font-weight-bold'> Confirmation statement </span> made on 27 June 2018 with no updates"
                  },

                  {
                    text:"£XX"
                  }
                ],
                [
                  {
                    text: "THE GIRL\'S DAY SCHOOL TRUST (00006400)"
                  },
                  {
                     text: "29 Jun 2017"
                  },
                  {
                    html:"<span class='govuk-body govuk-!-font-weight-bold'> Group of companies' accounts </span> made up to 28 January 2017"
                  },
                  {
                    text:"£XX"
                  }
                ]
              ]
          }) }}
    <p class="govuk-body">Email <a href="mailto:enquiries@companieshouse.gov.uk">enquiries@companieshouse.gov.uk</a> if you have questions about your order. Include your order reference number when you contact us.</p>



    </div>
  </div>

{% endblock %}
