{% extends "layout.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Your basket is full
      </h1>

      <p>You currently have 1,000 items in your basket. You cannot add any more to this order.</p>

      <p> <a href="/basket-items">Go to your basket</a> to review your order.</p>

    </div>
  </div>

{% endblock %}
