{% extends "layout.html" %}

{% block pageTitle %}
Choose certificate information
{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}
{% block beforeContent %}
{% include "includes/user-bar.html" %}
  {{ govukBackLink({
    text: "Back",
    href: "#"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

<h1 class="govuk-heading-xl">What secretary information do you need?</h1>
<p class="govuk-body">We aim to include the names of all current company secretaries, along with any of the details you choose below.</p>
<div class="govuk-inset-text">
  Not all companies have secretary information, so we can only include the details that have been filed with us.
</div>


      <form action="/certificate-secretary-selection" method="post">
<!-- does this top header bit need info in it for screen readers? can I delete it? -->
        {{ govukCheckboxes({
            idPrefix: "more-info",
            name: "more-info",
            fieldset: {
            legend: {
            text: "",
            isPageHeading: true,
            classes: ""
          }
        },
        hint: {
          text: ""
        },
        items: [
          {
            value: "correspondence-address",
            text: "Correspondence address",
            hint: {
        text: ""
        }
        },
          {
              value: "appointment-date",
              text: "Appointment date",
              hint: {
          text: ""
        }
        }
        ]
        }) }}


        {{ govukButton({
          text: "Continue"
        }) }}

  </form>

</div>

</div>

{% endblock %}
