{% extends "layout.html" %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block pageTitle %}
Choose a dispatch option -  Find and update company details - GOV.UK
{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}
{% block beforeContent %}
{% include "includes/user-bar.html" %}
  {{ govukBackLink({
    text: "Back",
    href: "filter-document-list"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <form action="certificate-delivery-option" method="post" novalidate>

      {{ govukCheckboxes({
        name: "cert-digital-physical",
        fieldset: {
          legend: {
            text: "What type of certificate do you need?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "Select all that apply."
        },
        items: [
          {
            value: "digital",
            html: '<p class="govuk-body govuk-!-font-weight-bold"> Digital</p>',
            class:"govuk-body govuk-!-font-weight-bold",
            hint: {
            html: '<p class="govuk-body">A digital certificate is a PDF document, embedded with an approved Companies House electronic signature. It will include the:</p>
                  <ul class="govuk-list govuk-list--bullet">
                      <li>company name and number</li>
                      <li>incorporation date</li>
                      <li>current registered office address</li>
                      <li>current directors</li>
                      <li>current secretaries</li>
                      <li>business description</li>
                    </ul>

                  <!--<p class="govuk-body">A digital certificate cannot be customised and will not include a statement of good standing.</p> -->

                  <div class="govuk-inset-text">
                    A digital certificate cannot be customised and will not include a statement of good standing.
                  </div>'
          }
          },
          {
            value: "paper",
            html: '<p class="govuk-body govuk-!-font-weight-bold"> Paper</p>',
            hint: {
            html: '<p class="govuk-body">A paper certificate will be signed with a blue, wet ink signature by one of our officials. It will include the company name, number and incorporation date. You can add information, including:</p>
                    <ul class="govuk-list govuk-list--bullet">
                      <li>a statement of good standing</li>
                      <li>current and previous registered office address</li>
                      <li>directors</li>
                      <li>secretaries</li>
                      <li>company objects</li>
                    </ul>
                    
                     <!---     <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What information does a paper certificate include?
          </span>
        </summary>
        <div class="govuk-details__text">         
           <p>As well as the company name and number, you can choose what information you want to add to your certificate, including:</p>
          <ul class="govuk-list govuk-list--bullet">
                      <li>a statement of good standing</li>
                      <li>incorporation date</li>
                      <li>current and previous registered office address</li>
                      <li>directors</li>
                      <li>secretaries</li>
                      <li>company objects</li>

          </ul>

        </div>
      </details> -->

                    '
          }
          }
        ]
      }) }}



    {{ govukButton({
          text: "Continue",
          href:"certificate-interrupt-card"
    }) }}

    {% from "govuk/components/table/macro.njk" import govukTable %}

{{ govukTable({
  caption: "Costs and dispatch information",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: true,
  head: [
    {
      text: "Service",
      classes: 'app-custom-class'
    },
    {
      text: "Cost",
      classes: 'app-custom-class'
    },
    {
      text: "How long it will take",
      classes: 'app-custom-class'
    }
  ],
  rows: [
    [
      {
        text: "Digital"
      },
      {
        text: "£XX"
      },
      {
        text: "Your document will be available to download from Your orders within 1 hour. It will be available to download for XX days."
      }
    ],
    [
      {
        text: "Paper (with standard dispatch)"
      },
      {
        text: "£15"
      },
      {
        text: "We will aim to send out the certificate within 10 working days."
      }
    ],
    [
      {
        text: "Paper (with express dispatch)"
      },
      {
        text: "£50"
      },
      {
        text: "Orders received before 11am will be sent out the same day and orders received after 11am the next working day."
      }
    ]
  ]
}) }}

    </form>
  </div>
</div>

{% endblock %}
