{% extends "layout.html" %}
{% set serviceName %}
  Order a certificate
{% endset%}
{% block pageTitle %}
Choose certificate information
{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}
{% block beforeContent %}
{% include "includes/user-bar.html" %}
  {{ govukBackLink({
    text: "Back",
    href: "certs-delivery-option"
  }) }}
{% endblock %}

{% block content %}
 <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/certificate-email-copy" method="post">

          {{ govukRadios({
            name: "certificate-email-copy",
            fieldset: {
              legend: {
                text: "Would you like an email copy of the certificate?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
              {
                value: "yes",
                text: "Yes"
              },
              {
                value: "no",
                text: "No"
              }
            ]
          }) }}


          {{ govukButton({
            text: "Continue"
          }) }}
        </form>
      </div>
</div>

<!-- need to add if else href - link to delivery details if no email copy selected, link straight to basket if email selected -->


{% endblock %}
