{% extends "layout.html" %}

{% block pageTitle %}
  Before you start – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/back-link.html" %}
  {% include "includes/user-bar.html" %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/certificate-interrupt-card" method="post">
      <div class="interrupt-card">
        <h1 class="govuk-heading-l">Before you order a digital certificate</h3> 

        <p class="govuk-body">You should check that a digital certificate with an electronic Companies House signature will be accepted by:</p>

          <ul class="govuk-body govuk-list--bullet govuk-list--spaced">
            <li>the person or organisation asking for the certificate (for example, the bank or embassy)</li>
            <li>your notary, if you are getting the certificate notarised</li>
          </ul>
        
        <p class="govuk-body">The certificate will only be valid in digital form as it contains a unique electronic signature. If they need a paper certificate with a wet ink signature, you should order a paper certificate instead.</p>  



          <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            What is an electronic signature?
            </span>
          </summary>
          <div class="govuk-details__text">
            <p>An electronic signature will not look like a wet ink signature. It will show the Companies House seal and the date that the document was embedded with the electronic signature. </p>
            <p>You will need to open the PDF in Adobe reader to view the signature.</p>
          </div>
        </details>   

       <p class="govuk-body">For now, digital certificates will not include a statement of good standing. If you need this, you should order a paper certificate instead.</p>  

       <!--  {{ govukWarningText({
          text: "Digital certificates do not include a statement of good standing. If you need a statement of good standing, you should order a paper certificate instead.",
          iconFallbackText: "Warning"
        }) }} -->


          {{ govukRadios({

            name: "do-you-want-digital",
            fieldset: {
              legend: {
                text: "Do you want a digital certificate?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--m  govuk-!-padding-top-3"
              }
            },
            items: [
              {
                value: "yes",
                text: "Yes"
              },
              {
                value: "no",
                text: "No, I want a paper certificate"
              }
              
            ]
          }) }}


        {{ govukButton({
          text: "Continue"
        }) }}

      </div>

      </form>

    </div>
  </div>

{% endblock %}
