{% extends "layout.html" %}

{% block pageTitle %}
  Before you start – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/back-link.html" %}
  {% include "includes/user-bar.html" %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/interrupt-card" method="post">
      <div class="interrupt-card">
        <h1 class="govuk-heading-l">Before you order a digital certificate</h3> 

        <p class="govuk-body">You should contact the person asking for the certificate to check if they will accept a digital certificate with an electronic Companies House signature.</p>
        
        <p class="govuk-body">Digital certificates are only valid in digital form. You may need to order a paper certificate if the person who is asking for it needs:</p>  
          <ul class="govuk-list govuk-list--bullet">
            <li>to include a statement of good standing</li>
            <li>a paper copy with a wet ink signature</li>
          </ul>

          {{ govukRadios({

  name: "do-you-want-digital",
  fieldset: {
    legend: {
      text: "Do you want a digital certificate?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
    
  ]
}) }}


        {{ govukButton({
          text: "Continue",
          href:"basket/basket-two-items"
        }) }}

      </div>

      </form>

    </div>
  </div>

{% endblock %}
