{% extends "layout.html" %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block pageTitle %}
Choose a dispatch option -  Find and update company details - GOV.UK
{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}
{% block beforeContent %}
{% include "includes/user-bar.html" %}
  {{ govukBackLink({
    text: "Back",
    href: "filter-document-list"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <form action="certificate-delivery-option" method="post" novalidate>

      {{ govukCheckboxes({
        name: "cert-digital-physical",
        fieldset: {
          legend: {
            text: "What type of certificate do you need?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "Select all that apply."
        },
        items: [
          {
            value: "digital",
            text: "Digital (£XX)",
            hint: {
            html: '<p class="govuk-body  govuk-!-padding-top-4">Digital certificates will:</p>
                    <ul class="govuk-list govuk-list--bullet">
                      <li>include the company name and number, incorporation date, current registered office address, current directors and secretaries</li>
                      <li>a PDF document, signed with an approved Companies House electronic signature</li>
                      <li>be ready to download from Your orders within 1 hour</li>
                      <li>be available to download for XX days</li>
                    </ul>'
          }
          },
          {
            value: "paper",
            text: 'Paper',
            hint: {
            html: '<p class="govuk-body  govuk-!-padding-top-4">Paper certificates will be signed in person by one of our officials. You can:</p>
                    <ul class="govuk-list govuk-list--bullet">
                      <li>choose to add certain information to the certificate</li>
                      <li>choose standard or express dispatch</li>
                    </ul>'
          }
          }
        ]
      }) }}
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Costs and dispatch options for paper certificates
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>Standard orders cost £15 for a certified document. We will aim to send your order within 10 working days.</p>
          <p>Express orders cost £50 for a certified document. Orders received before 11am will be sent out the same day. Orders received after 11am will be sent out the next working day.</p>

        </div>
      </details>

    {{ govukButton({
          text: "Continue",
          href:"certificate-interrupt-card"
    }) }}

    </form>
  </div>
</div>

{% endblock %}
