{% extends "layout.html" %}
{% set mainClasses = "govuk-main-wrapper--l" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}


{% block beforeContent %}
{% include "includes/user-bar-order-pending.html" %}
 {{ govukBackLink({
    text: "Back to search",
    href: "#"
  }) }}
{% endblock %}

{% block pageTitle %}
   Order received -  Find and update company details - GOV.UK
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Order received",
        html: "Your order reference number<br><strong>ORD-168827-927371</strong>"
      }) }}
      <p class="govuk-body">We have sent a confirmation email to <strong>user@companieshouse.gov.uk</strong> which contains your reference number.</p>
      <p class="govuk-body">You can view a detailed summary and check the status of digital items in <a href=orders/your-orders-pending-v2>Your orders</a>. We cannot update the status of paper items to show when we’ve sent the order.</p>

      <h1 class="govuk-heading-m">What happens next</h1>
      <!-- <p class="govuk-body">Express orders received before 11am will be sent the same day. Orders received after 11am will be sent the next working day. We aim to send standard delivery items within 10 working days. We send UK orders by Royal Mail 1st Class post and international orders by Royal Mail International post.</p> -->

      <p class="govuk-body">Digital items will be available to download from <a href=orders/your-orders-pending-v2>Your orders</a> within 1 hour. We’ll email to let you know when all items on your order are ready to download.</p>


      <!---{{ govukInsetText({
        html: "<p class='govuk-body govuk-!-font-weight-bold'>You will not be sent an email confirmation of this order.</p>

        <ul class='govuk-list'>
        <li>
          <img src='/public/images/print-icon.png'  alt='Print icon'/>
          <a class='govuk-link' href='javascript:window.print()'>
            Print your order confirmation
          </a>
        </li>
      </ul>"

      }) }}

      <h2 class="govuk-heading-m">Delivery details</h2>

            {{ govukSummaryList({
              classes: 'govuk-!-margin-bottom-9',
              rows: [
                {
                  key: {
                    text: "Delivery address"
                  },
                  value: {
                    html: "Mr Jamies Hanson </br> 48 Tonna Road </br> Barry </br> CF45 8YG"
                  }
                },
                {
                  key: {
                    text: "Email address"
                  },
                  value: {
                    html: "jamies.hanson@gmail.com"
                  }
                }
              ]
            }) }} -->

<!---
      <h2 class="govuk-heading-m">Your payment details</h2>
          {{ govukSummaryList({
            rows: [
              {
                key: {
                  text: "Amount paid",
                  classes: 'govuk-!-width-one-half'
                },
                value: {
                  text: "£XX",
                  classes: 'govuk-!-width-one-half'
                }
              },
              {
                key: {
                  text: "Payment reference"
                },
                value: {
                  text: "RS5VSN6DRE"
                }
              },
              {
                key: {
                  text: "Date and time of payment"
                },
                value: {
                  html: "11 March 2020 – 10:56:14"
                }
              }
            ]
          }) }} -->

        <h2 class="govuk-heading-m">How to contact us</h2>
          <p class="govuk-body">Email <a href="mailto:enquiries@companieshouse.gov.uk" class="govuk-link">enquiries@companieshouse.gov.uk</a> if you have questions about your order.</p>
          <p>Include your order reference number when you contact us. </p>

        </div>
  </div>
{% endblock %}
