{% extends "layout.html" %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block pageTitle %}
Choose a dispatch option -  Find and update company details - GOV.UK
{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}
{% block beforeContent %}
{% include "includes/user-bar.html" %}
  {{ govukBackLink({
    text: "Back",
    href: "filter-document-list"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <form action="certificate-delivery-option" method="post">

      

    </form>
  </div>
</div>

{% endblock %}
