{% extends "layout.html" %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block pageTitle %}
Choose a dispatch option -  Find and update company details - GOV.UK
{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}
{% block beforeContent %}
{% include "includes/user-bar.html" %}
  {{ govukBackLink({
    text: "Back",
    href: "filter-document-list"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <form action="/docs-delivery-option" method="post" novalidate>

      {{ govukCheckboxes({
        name: "docs-physical-digital",
        fieldset: {
          legend: {
            text: "What type of document do you need?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "Select all that apply."
        },
        items: [
          {
            value: "digital",
            html: '<p class="govuk-!-font-weight-bold"> Digital</p>',
            hint: {
            html: '<p class="govuk-body">The digital document will be PDF document, signed with an approved Companies House electronic signature. The document will:</p>
                    <ul class="govuk-list govuk-list--bullet">
                      <li>cost £XX (incorporation orders cost (£XX)</li>
                      <li>be ready to download from Your orders within 1 hour</li>
                      <li>be available to download for XX days</li>
                    </ul>'
          }
          },
          {
            value: "paper",
            html: '<p class="govuk-!-font-weight-bold"> Paper</p>',
            hint: {
            html: '<p class="govuk-body">Paper documents will be signed in person by one of our officials. Documents are sent by Royal Mail, you can choose:</p>
                    <ul class="govuk-list govuk-list--bullet">
                      <li>standard dispatch for £15 (incorporation orders cost £30) - we will aim to send out the certificate within 10 working days</li>
                      <li>express dispatch for £50 (incorporation orders cost £100) – orders received before 11am will be sent out the same day and orders received after 11am the next working day </li>
                    </ul>'
          }
          }
        ]
      }) }}


    {{ govukButton({
          text: "Continue"
    }) }}

    </form>
  </div>
</div>

{% endblock %}
