{% extends "layout.html" %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block pageTitle %}
Choose a dispatch option -  Find and update company details - GOV.UK
{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}
{% block beforeContent %}
{% include "includes/user-bar.html" %}
  {{ govukBackLink({
    text: "Back",
    href: "filter-document-list"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <form action="/docs-delivery-option" method="post" novalidate>

      {{ govukRadios({
        name: "docs-physical-digital",
        fieldset: {
          legend: {
            text: "What type of document do you need?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "Select one option."
        },
        items: [
          {
            value: "digital",
            html: '<p class="govuk-!-font-weight-bold"> Digital</p>',
            hint: {
            html: '<p class="govuk-body">The digital document will be PDF document, embedded with an approved electronic signature. </p>'
          }
          },
          {
            value: "paper",
            html: '<p class="govuk-!-font-weight-bold"> Paper</p>',
            hint: {
            html: '<p class="govuk-body">Paper documents will be signed with a blue, wet ink signature by one of our officials.</p>'
          }
          }
        ]
      }) }}
      


    {{ govukButton({
          text: "Continue"
    }) }}

    {{ govukTable({
  caption: "Costs and dispatch information",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: true,
  head: [
    {
      text: "Service",
      classes: 'app-custom-class'
    },
    {
      text: "Cost",
      classes: 'app-custom-class'
    },
    {
      text: "Dispatch information",
      classes: 'app-custom-class'
    }
  ],
  rows: [
    [
      {
        text: "Digital"
      },
      {
        text: "£9 "
      },
      {
        text: "Your document will be available to download from Your orders within 1 hour. It will be available to download for XX days."
      }
    ],
    [
      {
        text: "Paper (with standard dispatch)"
      },
      {
        text: "£15 "
      },
      {
        text: "We will aim to send out the certificate within 10 working days."
      }
    ],
    [
      {
        text: "Paper (with express dispatch)"
      },
      {
        text: "£50"
      },
      {
        text: "Orders received before 11am will be sent out the same day and orders received after 11am the next working day."
      }
    ]
  ]
}) }}

    </form>
  </div>
</div>

{% endblock %}
