
{% extends "layout.html" %}
{% block pageTitle %}
  {{serviceName}} - GOV.UK
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        {{serviceName}}
        <span class="govuk-caption-xl">Version 9</span>
      </h1>
      <div class="govuk-tabs" data-module="govuk-tabs">
        <h4 class="govuk-tabs__title">
          Contents
        </h4>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#screens">
              Screens
            </a>
          </li>
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#code">
              Entry points and links
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#form-versions">
              Previous versions
            </a>
          </li>
        </ul>

        <div class="govuk-tabs__panel" id="screens">
  <h3 class="govuk-heading-l">Digital journey pages</h3>



          <h3 class="govuk-heading-m">v8 UR pages</h3>
            <ul class="govuk-list govuk-list--bullet">
              <li>
              <a href="company-overview-gdst">Company overview (GDST)</a>
            </li>
            <li>
              <a href="order-certified-certificate">Order cert start page</a>
            </li>
            <li>
              <a href="sign-in">Sign in</a>
            </li>
            <li>
              <a href="certificate-delivery-option">Digital or paper</a>
            </li>
            <li>
              <a href="certificate-interrupt-card">Cert interrupt card</a>
            </li>
            <li>
              <a href="basket/basket-one-digital-item">Basket 1</a>
            </li>
            <li>
              <a href="search2">Search</a>
            </li>
            <li>
              <a href="company-overview-woolco">Wool company overview</a>
            </li>
            <li>
              <a href="order-certified-document">Cert doc start page</a>
            </li>
            <li>
              <a href="filter-document-list-woolco">Filter doc list</a>
            </li>
            <li>
              <a href="docs-delivery-option">Digital or paper</a>
            </li>
            <li>
              <a href="docs-dispatch-option">Doc dispatch option</a>
            </li>
            <li>
              <a href="delivery-details">Delivery details</a>
            </li>
            <li>
              <a href="basket/basket-two-items">Basket 2</a>
            </li>
            <li>
              <a href="payment">Payment</a>
            </li>
            <li>
              <a href="confirmation-dcc">Confirmation screen</a>
            </li>
            <li>
              <a href="emails/confirmation-email-v7">Confirmation email</a>
            </li>
            <li>
              <a href="orders/your-orders-pending-v2">Pending orders</a>
            </li>
            <li>
              <a href="emails/order-ready">Order ready email</a>
            </li>
            <li>
              <a href="orders/your-orders-updated-v2">Order ready page</a>
            </li>
            </ul>


          <h3 class="govuk-heading-m">Overview pages</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="company-overview-gdst">Company overview (GDST)</a>
            </li>
            <li>
              <a href="company-overview-woolco">Company overview (The Wool Company)</a>
            </li>
            <li>
              <a href="search">CHS search page</a>
            </li>
        </ul>

<h3 class="govuk-heading-m">Pages in journey order - digital certificate</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="order-certified-certificate">Order a certified certificate start page</a>
            </li>
            <li>
              <a href="sign-in">Sign in</a>
            </li>
            <li>
              <a href="certificate-delivery-option">Digital or paper - cert</a>
            </li>
            <li>
              <a href="certificate-interrupt-card">Interrupt card - cert</a>
            </li>
            <li>
              See 'Basket, add another, payment, and confirmation' pages section
            </li>
         

        </ul>


        <h3 class="govuk-heading-m">Pages in journey order - digital cert document</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="order-certified-document">Order a certified document start page</a>
            </li>
            <li>
              <a href="sign-in">Sign in</a>
            </li>
            <li>
              <a href="filter-document-list-woolco">Select document to order</a>
            </li>
            <li>
              <a href="docs-delivery-option">Digital or paper - doc</a>
            </li>
            <li>
              <a href="interrupt-card">Interrupt card - doc</a>
            </li>
            <li>
              See 'Basket, add another, payment, and confirmation' pages section 
            </li>
            
            
            




        </ul>

<h3 class="govuk-heading-m">Basket, add another, payment, and confirmation pages</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="basket/basket-one-digital-item">Basket (one item added)</a>
            </li>
            <li>
              <a href="basket/basket-two-items">Basket (two certs added)</a>
            </li>
            <li>
                <a href="basket/basket-all-items">Basket (full template with MID)</a>
            </li>
            <li>
                <a href="basket/basket-no-items">Empty basket screen</a>
            </li>
            <li>
              <a href="add-another-document-company">Add another item to order (no longer in route, not in scope)</a>
            </li>
            
            <li>
              <a href="payment">Payment</a>
            </li>
            <li>
              <a href="confirmation-dcc">Order confirmation screen</a>
            </li>
            
    
        </ul>

<h3 class="govuk-heading-m">Your orders pages</h3>
          <ul class="govuk-list govuk-list--bullet">

              <li>
                <a href="orders/your-orders-template-v2">Your orders summary page - pending</a>
              </li>

              <li>
                <a href="orders/your-orders-pending-v2">Order details page - pending</a>
              </li>
              <li>
                <a href="orders/your-orders-template-v2-updated" target="_blank">Your orders summary -ready (opens in a new tab)</a>
              </li>
              <li>
                <a href="orders/your-orders-updated-v2" target="_blank">Order details and download page - ready (opens in a new tab)</a>
              </li>
              
              <li>
                <a href="orders/your-orders-template-long" target="_blank">Your orders summary page - long template</a>
              </li>
              <li>
                <a href="orders/your-orders-empty" target="_blank">Your orders empty page</a>
              </li>
              <li>
                <a href="orders/your-orders-details-type" target="_blank">Orders details page long mixed template - grouped by type</a>
              </li>
              <br>
              <li>
                <a href="orders/your-orders-pending-type" target="_blank">Orders details page grouped by type with pending - grouped by type</a>
              </li>
              <br>
              <li>
                See 'Entry points and links' section for guidance, emails and outputs
              </li>

            </ul>

             <h3 class="govuk-heading-m">Basket limit pages</h3>
            <ul class="govuk-list govuk-list--bullet">
              <li>
                <a href="basket-limit/basket-warning">Basket with limit warning</a>
              </li>
              <li>
                <a href="basket-limit/add-basket-error">Error adding to basket</a>
              </li>
              <li>
                <a href="basket-limit/basket-limit-reached">Basket limit reached (alt to error messages)</a>
              </li>
              <li>
                <a href="basket-limit/order-certified-certificate-warning">Order cert start page with warning</a>
              </li>
              <li>
                <a href="basket-limit/order-certified-document-warning">Order doc start page with warning</a>
              </li>
              <li>
                <a href="basket-limit/order-certified-certificate-error">Order cert start page with error</a>
              </li>
              <li>
                <a href="basket-limit/order-certified-document-error">Order doc start page with error</a>
              </li>
              <li>
                <a href="basket-limit/order-mid-warning">Missing image start page with warning</a>
              </li>
              <li>
                <a href="basket-limit/order-mid-error">Missing image start page with warning</a>
              </li>
            </ul>

          



<br>
<br>
<br>
<br>


<h3 class="govuk-heading-l">Paper journey links</h3>
        


        <h3 class="govuk-heading-m">Certified certificate journey</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="certificate-details-selection">Certificate information selection</a>
          </li>
          <li>
            <a href="certificate-registered-office-address">What registered office address info?</a>
          </li>
          <li>
            <a href="certificate-director-selection">What director info do you need?</a>
          </li>
          <li>
            <a href="certificate-secretary-selection">What secretary info do you need?</a>
          </li>
          <li>
            <a href="certs-delivery-option">Choose a dispatch option</a>
          </li>
          <li>
            <a href="certificate-number-of-copies">How many copies do you need?</a>
          </li>
          <li>
            <a href="certificate-email-copy">Would you like an email copy?</a>
          </li>
          <li>
            <a href="delivery-details">Delivery details (shown if email copy not selected)</a>
          </li>
          
          <li>
            <a href="check-your-certificate">Check your certificate</a>
          </li>

          <li>GOV UK payment screen</li>
          <li>
            <a href="confirmation-dcc">Confirmation screen</a>
          </li>
          </ul>

          <h3 class="govuk-heading-m">Certified document journey</h3>
          <ul class="govuk-list govuk-list--bullet">
          

        
            <li>
              <a href="docs-dispatch-option">Choose a dispatch option</a>
            </li>
            <li>
              <a href="delivery-details">Delivery details</a>
            </li>
              </ul>


              
              




            </ul>

<br>
<br>
<br>
<br>    

<h3 class="govuk-heading-m">Experimental pages</h3>
            <ul class="govuk-list govuk-list--bullet">
              <li>
              <a href="digital-or-paper-1">Grid option attempt 1</a>
            </li>
            <li>
              <a href="digital-or-paper-table">Table option </a>
            </li>
             <li>
              <a href="digital-or-paper-table-tags">Table option with tags </a>
            </li>
            <li>
              <a href="digital-or-paper-table-tags2">Table option with tags 2</a>
            </li>

            </ul>
<h3 class="govuk-heading-m">Old version pages</h3>
            
            <ul class="govuk-list govuk-list--bullet">
              <li>
                <a href="orders/your-orders-details-post" target="_blank">Orders details page - with MID and paper/post</a>
              </li>
              <li>
              <a href="basket/basket-no-items">Basket (no items)</a>
            </li>
            <li>
              <a href="basket/basket-items">Basket (with all types of items)</a>
            </li>
            <li>
              <a href="select-multiple-documents">Adding multiple certified documents to the basket within the companies filing history. </a>
            </li>
            <li>
              <a href="basket/templates/basket-mixed-items">Basket (mixed items). </a>
            </li>
            <li>
              <a href="basket/templates/basket-mixed-companies">Basket (mixed companies). </a>
            </li>
            <li>
              <a href="basket/templates/basket-company-grouped">Basket (grouped by companies). </a>
            </li>
            <li>
              <a href="basket/templates/basket-company-grouped-v2">Big Basket to test with users. </a>
            </li>
            <li>
              <a href="basket/templates/basket-company-grouped-v2-button">Big Basket with buttons below. </a>
            </li>
            <li>
              <a href="remove-document">Remove this document from your basket</a>
            </li>

</ul>

</div>

        <div class="govuk-tabs__panel" id="code">
          <h3 class="govuk-heading-m">Entry points</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="start?journey=gov">GOV.UK start page</a>
            </li>
          </ul>
          <h3 class="govuk-heading-m">Guidance</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="https://www.gov.uk/guidance/order-certified-copies-and-certificates-from-companies-house">Current guidance</a>
            </li>
            <li>
              <a href="guidance">Updated guidance (page to be added)</a>
            </li>
          </ul>
          <h3 class="govuk-heading-m">Emails</h3>

          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="emails/confirmation-email">Confirmation email</a>
            </li>
            <li>
              <a href="emails/confirmation-email-v7">Confirmation email - v7 onwards</a>
            </li>
            <li>
              <a href="emails/order-ready">Your order is ready</a>
            </li>

          </ul>



 <!-- <h4 class="govuk-heading-s">Certified certificate</h4>
<ul class="govuk-list govuk-list--bullet">
            <li>



            </li>

          </ul> -->

          <h3 class="govuk-heading-m">Certified document</h3>

          <p class="govuk-body">*Open word documents in the desktop view before editing*</p>
          <p class="govuk-body">Up to date cert doc cover sheet and doc</p>
        <ul class="govuk-list govuk-list--bullet">
                    <li>
                      <a href="https://companieshouse.sharepoint.com/sites/DigitalCertsCopies/_layouts/15/Doc.aspx?sourcedoc=%7BC816583C-8969-4A6A-AEC3-B5100C2CE3C9%7D&file=25%2004%202023-%20certified-doc-cover-FINAL.docx&action=default&mobileredirect=true&CT=1682582597754&OR=ItemsView">Updated cover sheet for v8</a>
                    <li>
                      <a href="https://companieshouse.sharepoint.com/sites/DigitalCertsCopies/Shared%20Documents/Forms/AllItems.aspx?id=%2Fsites%2FDigitalCertsCopies%2FShared%20Documents%2FCCD%2D123456%2D123456%20%2834%29%2Epdf&parent=%2Fsites%2FDigitalCertsCopies%2FShared%20Documents" >Signed cert doc PDF with clickable signature </a>
                    </li>
                    <li>
                      <a href="https://companieshouse.sharepoint.com/:b:/r/sites/DigitalCertsCopies/Shared%20Documents/final-cert-doc-signed.pdf?csf=1&web=1&e=FUNcsw" >Final signed Cert doc PDF</a>
                    </li>
                    <li>
                      <a href="https://companieshouse.sharepoint.com/:w:/r/sites/DigitalCertsCopies/_layouts/15/Doc.aspx?sourcedoc=%7B78213D5F-03D6-4261-8D98-7873E5C68BA9%7D&file=certified-doc-cover-FINAL.docx&action=default&mobileredirect=true" target="_blank">Final cert doc cover sheet in word (open in desktop)</a>
                    </li>
                     <li>
                      <a href="/public/certified-document/test-ad01-signed.pdf" >AD01 document - example</a>
                    </li>
                    </ul>

<p class="govuk-body">Old links</p>
<ul class="govuk-list govuk-list--bullet">
                    <li>
                      <a href="/public/certified-document/Signed-cover-sheet-with-stamp-v1.PDF" target="_blank">PDF of the cover sheet (opens in a new tab)</a>
                    </li>
                    <li>
                      <a href="https://companieshouse.sharepoint.com/:w:/s/DigitalCertsCopies/EZjOrLk_Z19DnJOXgods0rAB6vfM3szkJAEyUvUN0s_H3g?e=gJwUBe" target="_blank">Word document - Cover sheet (opens in a new tab)</a>
                    </li>
                   

                    <li>
                      <a href="/public/certified-document/pop-up-signature-properties.png" target="_blank">Pop up signature box (opens in a new tab)</a>
                    </li>
                    


                  </ul>


                  <h3 class="govuk-heading-m"> Certified Certificate </h3>

                  <p class="govuk-body">* Open word documents in the desktop view before editing *</p>
                 <p class="govuk-body">Agreed day one cert links</p>
                 <ul class="govuk-list govuk-list--bullet">
                    <li>
                      <a href="https://companieshouse.sharepoint.com/sites/DigitalCertsCopies/Shared%20Documents/Day%20one%20company%20certificate.pdf?CT=1688546126783&OR=ItemsView" >Agreed day one cert PDF</a>
                    </li>
                    <li>
                      <a href="https://companieshouse.sharepoint.com/:w:/r/sites/DigitalCertsCopies/_layouts/15/Doc.aspx?sourcedoc=%7BDBE3A90E-9D9D-4558-BED1-39B4FD754568%7D&file=Day%20one%20company%20certificate.docx&action=default&mobileredirect=true" >Agreed day one cert word doc</a>
                    </li>
                  </ul>

                  <p class="govuk-body">Future cert example</p>
                  <ul class="govuk-list govuk-list--bullet">
                   <li>
                      <a href="https://companieshouse.sharepoint.com/:w:/r/sites/digitalcertscopies/_layouts/15/doc.aspx?sourcedoc=%7Bf61b99f7-c81b-4b50-89a5-0dbe79a72c40%7D&file=future%20cert%20example.docx&action=default&mobileredirect=true" >Beta cert - future release</a>
                    </li>
                    
                  </ul>
                 
                  

<br>
                     <p class="govuk-body">Old links</p>
                     <ul class="govuk-list govuk-list--bullet">
                    <li>
                      <a href="https://companieshouse.sharepoint.com/:w:/r/sites/DigitalCertsCopies/_layouts/15/Doc.aspx?sourcedoc=%7B711F89DB-F503-42FC-AC47-F28DB1B1F818%7D&file=Cert%20with%20sig%20on%20coversheet.docx&action=default&mobileredirect=true" >Cert signature on cover sheet - Beta cert - first release</a>
                    </li>
                    <li>
                      <a href="https://companieshouse.sharepoint.com/:w:/r/sites/digitalcertscopies/_layouts/15/doc.aspx?sourcedoc=%7B244ac253-b58d-440e-b017-e5ebd70ea16e%7D&file=beta%20cert%20changes.docx&action=default&mobileredirect=true" >Beta cert - first release</a>
                    </li>
                    <li>
                      <a href="https://companieshouse.sharepoint.com/:w:/r/sites/digitalcertscopies/_layouts/15/doc.aspx?sourcedoc=%7Bf61b99f7-c81b-4b50-89a5-0dbe79a72c40%7D&file=future%20cert%20example.docx&action=default&mobileredirect=true" >Beta cert - future release</a>
                    </li>
                    <li>
                      <a href="https://companieshouse.sharepoint.com/:b:/r/sites/DigitalCertsCopies/Shared%20Documents/final-cert-pdf-signed.pdf?csf=1&web=1&e=QFUjuI" >Alpha signed cert PDF</a>
                    </li>
                    <li>
                      <a href="https://companieshouse.sharepoint.com/:w:/r/sites/DigitalCertsCopies/Shared%20Documents/FINAL%20CERT.docx?d=w2544891539ac40a88a4e49294e6e027f&csf=1&web=1&e=fFM6t4" >Alpha cert word doc - open in desktop</a>
                    </li>
                    <li>
                      <a href="https://companieshouse.sharepoint.com/:w:/s/DigitalCertsCopies/ERLiZntBRcNNoz2qZ1_Cej8BTj58vgFRtFZmKBb5OrK0IA?e=4H4tDR" target="_blank">Version 3 - Word document - Cover sheet for Digital certificate (opens in a new tab)</a>
                    </li>
                    <li>
                      <a href="https://companieshouse.sharepoint.com/:w:/s/DigitalCertsCopies/EUXGSxZjkYFHiLjxiCcQ72YBhbMAH_-eCQ0bs03iZrZQmw?e=NtwSge" target="_blank">Version 3 - Word document - Digital certificate (opens in a new tab)</a>
                    </li>
                    <li>
                      <a href="/public/certified-document/pop-up-signature-properties.png" target="_blank">Pop up signature box (opens in a new tab)</a>
                    </li>
                    <li>
                      <a href="https://companieshouse-my.sharepoint.com/:w:/g/personal/pradford_companieshouse_gov_uk/Eak50gMrAfVMiYxY1vJBmvoBuqDlItGtt-ijWOZkZxC04g?e=cBh05x" target="_blank">Accessible certificate</a>
                    </li>
                    <li>
                      <a href="https://companieshouse-my.sharepoint.com/:w:/g/personal/pradford_companieshouse_gov_uk/EddTRjwIeGVJq__hhfj2eMkBEsS1vg_13RUB5L_BCoDRow?e=ymAFhE" target="_blank">Accessible certificate with statement of good standing</a>
                    </li>
                    
                    


                  </ul>

        </div>




        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="form-versions">
          <table class="govuk-table version-history">
            <caption class="govuk-table__caption govuk-heading-l">Previous versions</caption>


              <h2 class="govuk-heading-l">User journey map</h2>

              <ul class="govuk-list govuk-list--bullet">
              <li>
                <a href="https://app.mural.co/t/companieshouse8589/m/companieshouse8589/1662542914737/fb989db3c01866c06623e8ccd8f79ab003f396f8?sender=ub36768ef277a25eb48103026">User journey map in Mural</a>
              </li>
            </ul>


            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Version</th>
                <th scope="col" class="govuk-table__header ">Tested on</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-third">Changes</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Status</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">

              <!--- Template 

              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">
                  <a href="">Version 2</a>
                </th>
                <td class="govuk-table__cell">To be added</td>
                <td class="govuk-table__cell">
                  <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Changes included in version 4
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                      <ul class="govuk-list--bulletlist">
                        <li>
                        To be added
                        </li>
                      </ul>
                    </div>
                  </details>
                </td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--red">
                    Not ready for testing
                  </strong>
                </td>
              </tr> -->
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">
                  <a href="https://digital-certs-and-copies-v9.herokuapp.com/">Version 9</a>
                </th>
                <td class="govuk-table__cell">{{ govukDetails({
                      summaryText: "Summary of scenario",
                      html: "TBD."
                    }) }}
                </td>
                <td class="govuk-table__cell">
                  <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Changes included in version 9
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                      <ul class="govuk-list--bulletlist">
                        
                        
                      </ul>
                    </div>
                  </details>
                </td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--red">
                    Not ready for testing
                  </strong>
                </td>\



               <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">
                  <a href="https://digital-certs-and-copies-v8.herokuapp.com/">Version 8</a>
                </th>
                <td class="govuk-table__cell">{{ govukDetails({
                      summaryText: "Summary of scenario",
                      html: "This version was used for usability testing.
                      Users were asked to add a digital certificate for GDST and a paper cert doc with standard delivery for The Wool Company. This was to test a mixed delivery order journey and to see how users responded to the mixed basket and order screens. Users downloaded their digital item and checked the signature."
                    }) }}
                </td>
                <td class="govuk-table__cell">
                  <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Changes included in version 8
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                      <ul class="govuk-list--bulletlist">
                        <li>
                        Digital item download was set to forcibly download to a users device rather than open in browser
                        </li>
                        <li>
                          Content changes to cover sheet
                        </li>
                        <li>
                          Added some content on how to open item in Adobe reader on Order details screen
                        </li>
                        
                      </ul>
                    </div>
                  </details>
                </td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--green">
                    Ready for testing
                  </strong>
                </td>\

              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">
                  <a href="https://digital-certs-and-copies-v7.herokuapp.com/">Version 7</a>
                </th>
                <td class="govuk-table__cell">{{ govukDetails({
                      summaryText: "Summary of scenario",
                      html: "This version was used for accessiblity testing.
                      Tested the downloading and opening of a digital item, using the digital item liek finding the signature and signature validation, the emails confirming order and notifying order was ready, and finding your orders."
                    }) }}
                </td>
                <td class="govuk-table__cell">
                  <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Changes included in version 7
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                      <ul class="govuk-list--bulletlist">
                        <li>
                        Removed time to live (notifcation banners saying 20 days to download) on Order details pages
                        </li>
                        <li>
                        Added example of MID in basket and order details pages
                        </li>
                        <li>
                        Added example of possible grid/table option to show differences between paper/digital cert
                        </li>
                        <li>
                        Grouped items by type rather than by company in basket and in order details pages - compromise with devs for development effort.
                        </li>
                        <li>
                        Add another item button in basket now routes to the search screen rather than the selection page - another dev effot change.
                        </li>
                        <li>
                        Digital item for download was added to prototype with working 'download' link. The file opened to view in another tab in browser in this version.
                        </li>
                        <li>
                          Digital item had new functionality - the check signature validation link was workable in Adobe reader
                        </li>
                      </ul>
                    </div>
                  </details>
                </td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--green">
                    Ready for testing
                  </strong>
                </td>


<tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">
                  <a href="https://digital-certs-and-copies-v6.herokuapp.com/">Version 6</a>
                </th>
                <td class="govuk-table__cell">{{ govukDetails({
                      summaryText: "Summary of scenario",
                      html: "This version was not tested with users but included small changes made in the time between Alpha and Beta
"
                    }) }}
                </td>
                <td class="govuk-table__cell">
                  <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Changes included in version 6
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                      <ul class="govuk-list--bulletlist">
                        <li>
                          Slight tweaks with content on Cert start page. Now only the one H2, details component and link to guidance are swapped in order
                        </li>
                        <li>
                          Tweaks to Doc start page. Added content at the top about incorporation packages. This used to be under a header before the start button, which had caused confusion.
                        </li>
                        <li>
                          Changes to Digital or Paper selection screen. Now option is 'Select one option' with radio buttons, not checkboxes. Bullet points of what each type includes are now in details components.
                        </li>
                        <li>
                          Ran accessibility checks using WAVE and Lighthouse and made small corrections to things like H orders, added hidden text, etc.
                        </li>
                      </ul>
                    </div>
                  </details>
                </td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--green">
                    Ready for testing
                  </strong>
                </td>
              </tr> 

              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">
                  <a href="https://digital-certs-and-copies-v5.herokuapp.com/">Version 5</a>
                </th>
                <td class="govuk-table__cell">{{ govukDetails({
                      summaryText: "Summary of scenario",
                      html: "Ordered a certificate from one company and a document from another company"
                    }) }}
                </td>
                <td class="govuk-table__cell">
                  <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Changes included in version 5
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                      <ul class="govuk-list--bulletlist">
                        <li>
                          Slight tweaks to cert start page. Added 'You'll need' bullet points and a link to CHS search to order for a different company. Added a details component for how paper and digital certs are different.
                        </li>
                        <li>
                          Added line to Digital option on choice page to say digital cert cannot be customised. Tweaked content on paper to say it will be signed in wet blue ink by an official.
                        </li>
                        <li>
                          Added details component to stop screen to say what an electronic signature is
                        </li>
                        <li>
                        Basket changed from two add buttons to one button at the top for 'Add another item'. Add button also added next to continue button at bottom of basket. Line added at top of basket to say users can add up to 10 items.
                        </li>
                        <li>
                          Added page for user to select what they want to do after clicking 'Add another item' in basket - select either a company they've already got items for in their basket or select another company which would take them to search.
                        </li>
                        <li>
                          Certificate information now presented in a table format
                        </li>
                      </ul>
                    </div>
                  </details>
                </td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--green">
                    Ready for testing
                  </strong>
                </td>
              </tr> 

              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">
                  <a href="https://digital-certs-and-copies-v4.herokuapp.com/">Version 4</a>
                </th>
                <td class="govuk-table__cell">{{ govukDetails({
                      summaryText: "Summary of scenario",
                      html: "Ordered a certificate for two different companies"
                    }) }}
                </td>
                <td class="govuk-table__cell">
                  <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Changes included in version 4
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                      <ul class="govuk-list--bulletlist">
                        <li>
                        Changes to Cert start page. Removed bullet points about paper certificate content options, focus now on differences between paper and digital certs.
                        </li>
                        <li>
                          Changes to What type of cert do you need page. Removed details component of what will be included, this is now in bullet points for each option. Added cost table below continue button.
                        </li>
                        <li>
                          Simplified stop screen. Removed blue background. Tweaks to content and added radio button option for user to decide if they will continue with ordering digital cert or not.
                        </li>
                        <li>
                          Cover sheet now has info with symbols and bullet points. Certificate signature panel is now at the bottom of the cert
                        </li>
                      </ul>
                    </div>
                  </details>
                </td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--green">
                    Ready for testing
                  </strong>
                </td>
              </tr> 



              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">
                  <a href="https://digital-certs-copies-v3.herokuapp.com/">Version 3</a>
                </th>
                <td class="govuk-table__cell">{{ govukDetails({
                      summaryText: "Summary of scenario",
                      html: "Finding the service to order certified documents. <br> <br> Adding one digital document and one digital certified certificate to their basket. Payment. <br> <br> Confirmation of the order and reviewing the process after ordering. Email indicating your order is ready and downloading documents.<br> <br> Review the digital certified document and the new digital certified certificate within Adobe and the updated signature."
                    }) }}
                </td>
                <td class="govuk-table__cell">
                  <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Changes included in version 3
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                      <ul class="govuk-list--bulletlist">
                        <li>
                        New style notification badge to basket menu
                        </li>
                        <li>
                        <a href="/order-certified-document"> Start page documents</a> <p class="govuk-body">Services and costings in a table format. Heirarchy of information reviewed. </p>
                        </li>
                        <li>
                        <a href="certificate-delivery-option"> What type of document do you need?</a> <p class="govuk-body">Information separated into bullet points.</p>
                        </li>
                        <li>
                        <a href="interrupt-card"> Interrupt card certified documents </a> <p class="govuk-body">Interrupt card added to the journey.</p>
                        </li>
                        <li>
                        <a href="basket/basket-one-digital-item"> Basket </a> <p class="govuk-body">Basket design reviewed and buttons placed underneath company name.</p>
                        </li>
                        <li>
                        <a href="order-certified-certificate">Start page certificates </a> <p class="govuk-body">Services and costings in a table format. Heirarchy of information reviewed.</p>
                        </li>

                        <li>
                        <a href="certificate-delivery-option"> What type of document do you need?</a> <p class="govuk-body">Information separated into bullet points.</p>
                        </li>

                        <li>
                        <a href="certificate-interrupt-card">Interrupt card certificates </a> <p class="govuk-body">Certificate interrupt card added. Users need to check the digital option is accepted by the end user.</p>
                        </li>

                        <li>
                        <a href="basket/basket-two-items"> Basket design </a> <p class="govuk-body">Separate boxes for the different document types. Buttons above boxes, below company name.</p>
                        </li>

                        <p class="govuk-body">Made changes to the documents:</p>

                        <li>
                        <p class="govuk-body">Updated the PDF cover sheet with company name and document information. A green button allowing the user to see the signature provence. </p>
                        </li>

                        
                      </ul>
                    </div>
                  </details>
                </td>

                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--green">
                    Ready for testing
                  </strong>
                </td>
              </tr> 



              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">
                  <a href="https://digital-certs-and-copies-v2.herokuapp.com/">Version 2</a>
                </th>
                <td class="govuk-table__cell">
                    {{ govukDetails({
                      summaryText: "Summary of scenario",
                      html: "Finding the service to order certified documents. <br> <br> Adding one digital documents and one paper document to their basket.Payment. <br> <br> Confirmation of the order and reviewing the process after ordering. Email indicating your order is ready and downloading documents.<br> <br> Review the digital certified document within Adobe and the signature."
                    }) }}

                </td>
                <td class="govuk-table__cell">
                  <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Changes included in version 2
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                      <ul class="govuk-list--bulletlist">
                        <li>
                        <a href="order-certified-document">Start page </a> <p class="govuk-body">Digital option - How digital and physical documents are certified.</p>
                        </li>
                        <li>
                        <a href="docs-delivery-option">What type of document do you need?</a> <p class="govuk-body">Explaining the difference between physical and digital option.</p>
                        </li>
                        <li>
                        <a href="docs-dispatch-option">Choose a dispatch option</a> <p class="govuk-body">Separate page for express and standard options.</p>
                        </li>
                        <li>
                        <a href="confirmation-dcc">Confirmation page</a> <p class="govuk-body">Call to action at the top.</p>
                        </li>
                        <li>
                        <a href="emails/confirmation-email">Confirmation email</a> <p class="govuk-body">Call to action at the top of the email.</p>
                        </li>
                        <li>
                        <a href="emails/confirmation-email">Order ready email</a> <p class="govuk-body">Call to action at the top of the email.</p>
                        </li>

                        <p class="govuk-body">Made changes to the following emails and documents</p>

                        <li>
                        <a href="public/certified-document/Signed-cover-sheet-with-stamp-v1.PDF">Order ready email</a> <p class="govuk-body">PDF cover sheet and document with stamp and timestamp signature.</p>
                        </li>

                      </ul>
                    </div>
                  </details>
                </td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--green">
                    Ready for testing
                  </strong>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">
                  <a href="https://digital-certs-and-copies-v1.herokuapp.com/">Version 1</a>
                </th>
                <td class="govuk-table__cell"> <p style ="govuk-!-padding-bottom-5"> 4 October 2022 </p>

                  {{ govukDetails({
                      summaryText: "Summary of scenario",
                      html: "Finding the service to order certified documents. <br> <br> Adding two digital documents and one paper document to their basket. Before proceeding with the order, one document is no longer needed in be ordered. <br> <br> Payment. Confirmation of the order and reviewing the process after ordering. Email indicating your order is ready and downloading documents.  "
                    }) }}

                </td>

                <td class="govuk-table__cell">
                  <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Changes included in version 1
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                      <p> Made changes to the following pages</p>
                      <ul class="govuk-list--bulletlist">

                        <li>
                          <a href="docs-delivery-option">Choose a delivery option</a>
                        </li>
                        <li>
                          <a href="basket/basket-one-digital-item">Your basket</a>
                        </li>
                        <li>
                          <a href="remove-document">Remove a document from your basket</a>
                        </li>
                        <li>
                          <a href="confirmation-dcc">Confirmation screen</a>
                        </li>
                        <li>
                          <a href="orders/your-orders-pending">Your orders - pending (within account)</a>
                        </li>
                        <li>
                          <a href="orders/your-orders-updated">Your orders - updated (within account)</a>
                        </li>
                        <li>
                          <a href="basket/basket-no-items">Basket no items (within account)</a>
                        </li>
                      </ul>

                      <p> Made changes to the following emails and documents </p>

                      <ul class="govuk-list--bulletlist">
                        <li>
                          <a href="emails/confirmation-email">Confirmation email</a>
                        </li>
                        <li>
                          <a href="emails/order-ready">Your order is ready</a>
                        </li>
                        <li>
                          <a href="/public/certified-document/test-ad01-signed.pdf" alt="Certified document AD01 for SOLDATA LIMITED Company Number 02667726" width ="100% target="_blank";> Certified AD01 document</a>
                        </li>
                      </ul>
                    </div>
                  </details>
                </td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--green">
                    Ready for testing
                  </strong>
                </td>
              </tr>
              
          <!--   <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">
                  <a href="https://directors-v3.herokuapp.com/">Version 3</a>
                </th>
                <td class="govuk-table__cell">2 March 2022</td>
                <td class="govuk-table__cell">
                  <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Changes included in version 3
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                      <ul class="govuk-list--bulletlist">
                        <li>
                          Added the following pages
                          <a href="start">GOV.UK start page</a>,
                          <a href="start-c">GOV.UK start page (Welsh)</a>,
                          <a href="sign-in">Sign in to Companies House</a>,
                          <a href="company-lookup">Company lookup</a>,
                          <a href="confirm-company">Confirm company</a>,
                          <a href="auth-code">Company auth code</a>,
                          <a href="directors">Directors</a>,
                          <a href="add/add">Add a director's details</a>,
                          <a href="add/check-your-answers">Add a director's details check your answers</a>,
                          <a href="add/confirmation">Add a director's details confirmation</a>,
                          <a href="change/change">Change a director's details</a>,
                          <a href="change/check-your-answers">Change a director's details check your answers</a>,
                          <a href="change/confirmation">Change a director's details confirmation</a>,
                          <a href="remove/remove">Remove a director's details</a>,
                          <a href="remove/check-your-answers">Remove a director's details check your anwers</a>
                          and
                          <a href="remove/confirmation">Remove a director's details confirmation</a>
                        </li>
                      </ul>
                    </div>
                  </details>
                </td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--green">
                    Ready for testing
                  </strong>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">
                  <a href="https://directors-v2.herokuapp.com/">Version 2</a>
                </th>
                <td class="govuk-table__cell">16 February 2022</td>
                <td class="govuk-table__cell">
                  <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Changes included in version 2
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                      <ul class="govuk-list--bulletlist">
                        <li>
                          Added the following pages
                          <a href="start">GOV.UK start page</a>,
                          <a href="start-c">GOV.UK start page (Welsh)</a>,
                          <a href="sign-in">Sign in to Companies House</a>,
                          <a href="company-lookup">Company lookup</a>,
                          <a href="confirm-company">Confirm company</a>,
                          <a href="auth-code">Company auth code</a>,
                          <a href="directors">Directors</a>,
                          <a href="add/add">Add a director's details</a>,
                          <a href="add/check-your-answers">Add a director's details check your answers</a>,
                          <a href="add/confirmation">Add a director's details confirmation</a>,
                          <a href="change/change">Change a director's details</a>,
                          <a href="change/check-your-answers">Change a director's details check your answers</a>,
                          <a href="change/confirmation">Change a director's details confirmation</a>,
                          <a href="remove/remove">Remove a director's details</a>,
                          <a href="remove/check-your-answers">Remove a director's details check your anwers</a>
                          and
                          <a href="remove/confirmation">Remove a director's details confirmation</a>
                        </li>
                      </ul>
                    </div>
                  </details>
                </td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--green">
                    Ready for testing
                  </strong>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">
                  <a href="https://directors-project.herokuapp.com/">Version 1</a>
                </th>
                <td class="govuk-table__cell">2 February 2022</td>
                <td class="govuk-table__cell">
                  <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                        Changes included in version 1
                      </span>
                    </summary>
                    <div class="govuk-details__text">
                      <ul class="govuk-list--bulletlist">
                        <li>
                          Added the following pages
                          <a href="start">GOV.UK start page</a>,
                          <a href="start-c">GOV.UK start page (Welsh)</a>,
                          <a href="sign-in">Sign in to Companies House</a>,
                          <a href="company-lookup">Company lookup</a>,
                          <a href="confirm-company">Confirm company</a>,
                          <a href="auth-code">Company auth code</a>,
                          <a href="directors">Directors</a>,
                          <a href="add/add">Add a director's details</a>,
                          <a href="add/check-your-answers">Add a director's details check your answers</a>,
                          <a href="add/confirmation">Add a director's details confirmation</a>,
                          <a href="change/change">Change a director's details</a>,
                          <a href="change/check-your-answers">Change a director's details check your answers</a>,
                          <a href="change/confirmation">Change a director's details confirmation</a>,
                          <a href="remove/remove">Remove a director's details</a>,
                          <a href="remove/check-your-answers">Remove a director's details check your anwers</a>
                          and
                          <a href="remove/confirmation">Remove a director's details confirmation</a>
                        </li>
                      </ul>
                    </div>
                  </details>
                </td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--green">
                    Ready for testing
                  </strong>
                </td>
              </tr> -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
