{% extends "layout.html" %}

{% block pageTitle %}
  Before you start – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/back-link.html" %}
  {% include "includes/user-bar.html" %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/interrupt-card" method="post">
      <div class="interrupt-card">
        <h1 class="govuk-heading-l">Before you order a digital document</h3> 

        <p class="govuk-body">You should check that a digital document with an electronic signature will be accepted by:</p>

          <ul class="govuk-body">
            <li>the person or organisation asking for the document (for example, the bank or embassy)</li>
            <li>your notary, if you are getting the document notarised</li>
          </ul>
        
        <p class="govuk-body">The document will only be valid in digital form as it contains a unique electronic signature. If they need a paper document with a wet ink signature, you should order a paper document instead.</p>  
          <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            What is an electronic signature?
            </span>
          </summary>
          <div class="govuk-details__text">
            <p>An electronic signature will not look like a wet ink signature. It will show the Companies House seal and the date that the document was embedded with the electronic signature. </p>
            <p>You will need to open the PDF in Adobe reader to view the signature.</p>
          </div>
        </details>   

<!-- added in HTML because thought that was how to make styling work, still haven't sussed it -->
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
        Do you want a digital document?
      </h1>
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="do-you-want-a-digital-doc" name="do-you-want-a-digital-doc" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="do-you-want-a-digital-doc">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="do-you-want-a-digital-doc-2" name="do-you-want-a-digital-doc" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="do-you-want-a-digital-doc-2">
          No, I want a paper document
        </label>
      </div>
    </div>

  </fieldset>
</div>




<!-- {{ govukRadios({
  name: "do-you-want-digital",
  fieldset: {
    legend: {
      text: "Do you want to order a digital document?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }} -->
<!-- need to add routing - take customer to basket with digital option if they say yes, take them to paper options if no -->





       {{ govukButton({
          text: "Continue"
        }) }}

      </div>

      </form>

    </div>
  </div>

{% endblock %}
