{% extends "layout.html" %}

{% block pageTitle %}
  Before you start – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
  {% include "includes/back-link.html" %}
  {% include "includes/user-bar.html" %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="interrupt-card">
        <h1 class="govuk-heading-l">Before you continue</h3> <!-- changed the word 'start' to 'continue' because this isn't at the start of the journey -->

          <h2 class="govuk-heading-m">Will the recipient accept a digital signature?</h2>

      











              <p class="govuk-body">You must check if the recipient will accept a digital document with an electronic signature before proceeding. You cannot print and post the digital document, the electronic signature is only valid digitally.</p>







  {{ govukButton({
    text: "Continue",
    href: "/register/overseas-name"
  }) }}

        </div>









      </form>

    </div>
  </div>

{% endblock %}
