{% extends "layout.html" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block pageTitle %}
  Add documents to order
{% endblock %}

{% block beforeContent %}
{% include "includes/user-bar.html" %}
  {{ govukBackLink({
    text: "Back",
    href: "/#view-all"
  }) }}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/remove-document" method="post">

        <h1 class="govuk-heading-l">Remove a document from your basket</h1>


         <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date filed
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">04 Nov 2016</p>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Document type
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">SH19</p>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Description
            </dt>
            <dd class="govuk-summary-list__value">
              <span class='govuk-body govuk-!-font-weight-bold'> Statement of capital </span> on 4 November 2016 GBP 6,750,000.00
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Dispatch method
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">Paper - Standard</p>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Fee
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">£15</p>
            </dd>
          </div>
        </dl>


      {{ govukRadios({
        name: "remove-document",
        fieldset: {
          legend: {
            text: "Are you sure you want to remove this document?"
          }
        },
        items: [
          {
            value: "yes-remove",
            text: "Yes"
          },
          {
            value: "no-remove",
            text: "No"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue",
        href:"basket/basket-two-items"
      }) }}

      </form>
    </div>
</div>
{% endblock %}
