
{% extends "layout.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  Your orders -  Find and update company details - GOV.UK
{% endblock %}

{% block beforeContent %}
{% include "includes/user-bar-basket-items.html" %}
{% include "includes/back-link.html" %}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <form action="/payment-review" method="post">

            <h1 class="govuk-heading-xl">Your orders</h1>

          <p class="govuk-body-l">Do we need content about order availability deadlines?</p>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

          <h2 class="govuk-heading-m">Certified documents</h2>


            {{ govukTable({
              caption: "",


              head: [
                {
                  html: "Date ordered"

                },
                {
                  html: "Company name"
                },
                {
                  html: "Company number"
                },
                {
                  html: "Document type"

                },
                {
                  html: "Date filed"

                },
                {
                  html: "Description"
                },
                {
                  html: "Fee"
                },
                {
                html: 'Dispatch method<span class="govuk-visually-hidden">Download</span>'
                }

              ],
              rows: [
                [
                  {
                    text: "7 July 2022"
                  },
                  {
                    text: "THE GIRLS DAY SCHOOL TRUST"
                  },
                  {
                    text: "12889207"
                  },
                  {
                  html: "AA"
                  },
                  {
                     text: "7 Jul 1987"
                  },
                  {
                    text:"Accounts for 'small' co. Made up to 25/07/94."
                  },
                  {
                    text:"£3"
                  },
                  {
                    html:'<a href="javascript:void(0)">Download <span class="govuk-visually-hidden">accounts for small co. Made up to 25/07/94</span></a>'
                  }
                ],
                [
                  {
                    text: "7 July 2022"
                  },
                  {
                    text: "THE GIRLS DAY SCHOOL TRUST"
                  },
                  {
                    text: "12889207"
                  },
                  {
                  html: "AA"
                  },
                  {
                     text: "7 Jul 1987"
                  },
                  {
                    text:"Accounts for 'small' co. Made up to 25/07/94."
                  },
                  {
                    text:"£3"
                  },
                  {
                    html:'<a href="javascript:void(0)">Download <span class="govuk-visually-hidden">accounts for small co. Made up to 25/07/94</span></a>'
                  }
                ],
                [
                  {
                    text: "7 July 2022"
                  },
                  {
                    text: "THE GIRLS DAY SCHOOL TRUST"
                  },
                  {
                    text: "12889207"
                  },
                  {
                  html: "AA"
                  },
                  {
                     text: "7 Jul 1987"
                  },
                  {
                    text:"Accounts for 'small' co. Made up to 25/07/94."
                  },
                  {
                    text:"£3"
                  },
                  {
                    html:'<a href="javascript:void(0)">Download <span class="govuk-visually-hidden">accounts for small co. Made up to 25/07/94</span></a>'
                  }
                ]
              ]
          }) }}

    </div>


    <!--- add example of the grey table view here to review -->





      </form>

    </div>

  </div>


{% endblock %}
